## !!!!!!!! This is not a script !!!!!!!!!
## run commands carefully

# unmount existing filesystem and remove from fstab
umount -f {{ sita_vmdk_specs.mountpoint }}
sed -i '/{{ vgname }}/d' /etc/fstab

# deactivate the VG so we can redo the LV
vgchange -an {{ vgname }}
lvremove -f -f /dev/{{ vgname }}/{{ lvol_name }}
lvcreate -q -n {{ lvol_name }} -l 100%VG {{ vgname }}
vgchange -ay {{ vgname }}

# Format the device for encryption. This will require interaction
cryptsetup luksFormat /dev/{{ vgname }}/{{ lvol_name }}
cryptsetup luksOpen /dev/{{ vgname }}/{{ lvol_name }} {{ encrypted_device }}

# create an xfs filesystem on the encrypted device
mkfs.xfs /dev/mapper/{{ encrypted_device }}

# setup the cryptab and fstab
echo "{{ encrypted_device }} /dev/{{ vgname }}/{{ lvol_name }} none _netdev" >> /etc/crypttab
echo "/dev/mapper/{{ encrypted_device }}         {{ sita_vmdk_specs.mountpoint }}                 xfs         _netdev        1    2" >> /etc/fstab

# register the passphrase with clevis
clevis luks bind -d /dev/{{ vgname }}/{{ lvol_name }} tang '{"url":"{{ xsgrpv_tang_url | default('http://ldatsxs103q.atl2.dc.sita.aero') }}"}'
